USE [master]
GO
/****** Object:  Database [QLVe]    Script Date: 23/04/2022 2:39:07 PM ******/
CREATE DATABASE [QLVe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVe', FILENAME = N'D:\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVe_log', FILENAME = N'D:\SQL\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLVe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVe]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 23/04/2022 2:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MaChuyenBay] [nchar](10) NOT NULL,
	[GioBay] [time](7) NULL,
	[GioDen] [time](7) NULL,
	[NgayBay] [date] NULL,
	[NgayDen] [date] NULL,
	[MaMayBay] [nchar](10) NULL,
	[MaSBDen] [nchar](10) NULL,
	[MaSBDi] [nchar](10) NULL,
 CONSTRAINT [PK_CHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MaChuyenBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAILY]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAILY](
	[MaDaiLy] [nchar](10) NOT NULL,
	[MaNguoiDaiDien] [nchar](10) NULL,
	[MaNganHang] [nchar](10) NULL,
	[SoLuongNhanVien] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_DAILY] PRIMARY KEY CLUSTERED 
(
	[MaDaiLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[SoVeGiaoPT] [int] NULL,
	[SoVeGiaoTG] [int] NULL,
	[GiaPT] [float] NULL,
	[GiaTG] [float] NULL,
	[MaChuyenBay] [nchar](10) NULL,
 CONSTRAINT [PK_HANG] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHopDong] [nchar](10) NOT NULL,
	[NgayKi] [date] NULL,
	[HanhLy] [float] NULL,
	[HieuLuc] [date] NULL,
	[ChietKhau] [float] NULL,
	[MaHang] [nchar](10) NULL,
 CONSTRAINT [PK_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[ID] [nchar](10) NULL,
	[Email] [nchar](30) NULL,
	[NgaySinhKH] [date] NULL,
	[SDT] [nchar](15) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUAVE]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUAVE](
	[MaVe] [nchar](10) NULL,
	[SoLuong] [int] NULL,
	[MaNhanVien] [nchar](10) NULL,
	[GiamGia] [float] NULL,
	[MaThanhToan] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANHANG]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANHANG](
	[MaNganHang] [nchar](10) NOT NULL,
	[TenNganHang] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGANHANG] PRIMARY KEY CLUSTERED 
(
	[MaNganHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[ID] [nchar](10) NULL,
	[NgayNhanViec] [date] NULL,
	[SDT] [nchar](15) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nchar](20) NULL,
	[MaDaiLy] [nchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAYDEN]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAYDEN](
	[MaSBDen] [nchar](10) NOT NULL,
	[TenSB] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[LoaiSanBay] [nvarchar](50) NULL,
	[SucChua] [int] NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[TieuChuanKyThuat] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANBAYDEN] PRIMARY KEY CLUSTERED 
(
	[MaSBDen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAYDI]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAYDI](
	[MaSBDi] [nchar](10) NOT NULL,
	[TenSB] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[LoaiSanBay] [nvarchar](50) NULL,
	[SucChua] [int] NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[TieuChuanKyThuat] [nvarchar](50) NULL,
 CONSTRAINT [PK_SANBAYDI] PRIMARY KEY CLUSTERED 
(
	[MaSBDi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOAN]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOAN](
	[MaThanhToan] [nchar](10) NOT NULL,
	[MaKH] [nchar](10) NULL,
	[MaNhanVien] [nchar](10) NULL,
	[TrangThaiMua] [bit] NULL,
 CONSTRAINT [PK_THANHTOAN] PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAITHANHTOAN]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAITHANHTOAN](
	[MaThanhToan] [nchar](10) NULL,
	[TrangThai] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 23/04/2022 2:39:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MaVe] [nchar](10) NOT NULL,
	[MaChuyenBay] [nchar](10) NULL,
	[GiaVe] [float] NULL,
	[SoGhe] [nchar](3) NULL,
	[Khoang] [nchar](10) NULL,
	[MaKH] [nchar](10) NULL,
	[ChietKhau] [float] NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_SANBAYDEN] FOREIGN KEY([MaSBDen])
REFERENCES [dbo].[SANBAYDEN] ([MaSBDen])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_SANBAYDEN]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_SANBAYDI] FOREIGN KEY([MaSBDi])
REFERENCES [dbo].[SANBAYDI] ([MaSBDi])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_SANBAYDI]
GO
ALTER TABLE [dbo].[DAILY]  WITH CHECK ADD  CONSTRAINT [FK_DAILY_NGANHANG] FOREIGN KEY([MaNganHang])
REFERENCES [dbo].[NGANHANG] ([MaNganHang])
GO
ALTER TABLE [dbo].[DAILY] CHECK CONSTRAINT [FK_DAILY_NGANHANG]
GO
ALTER TABLE [dbo].[HANG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_CHUYENBAY] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_CHUYENBAY]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_HANG] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HANG] ([MaHang])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_HANG]
GO
ALTER TABLE [dbo].[MUAVE]  WITH CHECK ADD  CONSTRAINT [FK_MUAVE_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[MUAVE] CHECK CONSTRAINT [FK_MUAVE_NHANVIEN]
GO
ALTER TABLE [dbo].[MUAVE]  WITH CHECK ADD  CONSTRAINT [FK_MUAVE_THANHTOAN] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[THANHTOAN] ([MaThanhToan])
GO
ALTER TABLE [dbo].[MUAVE] CHECK CONSTRAINT [FK_MUAVE_THANHTOAN]
GO
ALTER TABLE [dbo].[MUAVE]  WITH CHECK ADD  CONSTRAINT [FK_MUAVE_VE] FOREIGN KEY([MaVe])
REFERENCES [dbo].[VE] ([MaVe])
GO
ALTER TABLE [dbo].[MUAVE] CHECK CONSTRAINT [FK_MUAVE_VE]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DAILY] FOREIGN KEY([MaDaiLy])
REFERENCES [dbo].[DAILY] ([MaDaiLy])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DAILY]
GO
ALTER TABLE [dbo].[THANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_THANHTOAN_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[THANHTOAN] CHECK CONSTRAINT [FK_THANHTOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TRANGTHAITHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_TRANGTHAITHANHTOAN_THANHTOAN] FOREIGN KEY([MaThanhToan])
REFERENCES [dbo].[THANHTOAN] ([MaThanhToan])
GO
ALTER TABLE [dbo].[TRANGTHAITHANHTOAN] CHECK CONSTRAINT [FK_TRANGTHAITHANHTOAN_THANHTOAN]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_CHUYENBAY] FOREIGN KEY([MaChuyenBay])
REFERENCES [dbo].[CHUYENBAY] ([MaChuyenBay])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_CHUYENBAY]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_KHACHHANG]
GO
USE [master]
GO
